#### 消費税を加えた計算結果を返す関数を記述する
- 消費税を加えた計算結果
- 「結果を返す関数」なので戻り値を使用する
-  第1引数に商品の金額、第2引数に消費税（10%）を設定する

In [25]:

# 結果は常に整数かつ小数点以下は切り捨て

# mathモジュールをimport
import math

def calculate_price(price, tax_rate):
    total = price * (1 + tax_rate)
    # 小数点以下を切り捨て
    cut_total = math.floor(total)
    return cut_total

calculate_price(99, 0.1)

108

In [23]:
def calculate_price(price, tax_rate):
    total = price * (1 + tax_rate)
    # int型にすることで、整数かつ小数点以下を切り捨て
    int_total = int(total)
    return int_total

calculate_price(99, 0.1)

108